<div>
  <p style="margin-bottom:3px">
    <a href="https://data.cityofchicago.org/Education/Connect-Chicago-Locations-Map/4jzv-pgsc" target="_blank" style="font-size:12px;font-weight:bold;text-decoration:none;color:#333333;font-family:arial;">Connect Chicago Locations - Map</a>
  </p>
  <iframe width="500px" title="Connect Chicago Locations - Map" height="425px" src="https://data.cityofchicago.org/w/4jzv-pgsc/3q3f-6823?cur=mNwlwoniwtj&from=root" frameborder="0" scrolling="no">
    <a href="https://data.cityofchicago.org/Education/Connect-Chicago-Locations-Map/4jzv-pgsc" title="Connect Chicago Locations - Map" target="_blank">Connect Chicago Locations - Map</a>
  </iframe>
  <p>
    <a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a>
  </p>
</div>